<div class="Article__icons">
	<i class="fa fa-home fa-4x Article__homeIcon" aria-hidden="true" ui-sref="home"></i>
	<i class="fa fa-chevron-right fa-4x Article__rightArrow" aria-hidden="true" ui-sref="article({articleId: articleId+1})"></i>
</div>
<div>
	<img src={{articleObj.image}}>
</div>
<h1 class="Article__title" ng-show="!edit">
	{{articleObj.title}} 
	<i class="fa fa-pencil fa-2x" aria-hidden="true" ng-click="edit = true"></i>
</h1>
<div ng-show="!!edit" class="Article__title">
	<input class="Article__titleInput" ng-model="articleObj.title" ng-keydown="$event.which === 13 && saveTitle(articleObj.title)" ng-focus="true">
	<i class="fa fa-check fa-2x" aria-hidden="true" ng-click="saveTitle(articleObj.title)"></i>
</div>
<h4 class="Article__author">{{articleObj.author.name}}</h4>
<h5 class="Article__publishDate">{{articleObj.publishDate | date: "M/d/yyyy h:mm a"}}</h5>
<hr>
<p ng-bind-html="articleContent"></p>