body {
	padding: 20px;
	font-family: Helvetica, Arial, Sans-Serif;
}

.ArticleList, .Article {
	&__title {
		color: DarkGray;
	}
	&__publishDate, &__author {
		color: LightGray;
	}
}

.Article {
	&__homeIcon {
		margin-right: 722px;
	}
	&__titleInput {
		color: DarkGray;
		font-size: 2em;
		width: 825px;
		margin: 21px 0;
	}
}
